:root {
    --mdc-theme-primary: #fcb8ab;
    --mdc-theme-secondary: #616161;
    --mdc-theme-on-primary: #442b2d;
    --mdc-theme-on-secondary: #442b2d;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', serif;
    margin: 0;
    padding-top: 0.1px;
}

.header {
    text-align: center;
}

.logo {
    width: 220px;
    height: 220px;
    padding-top: 80px;
    fill: currentColor;
}

.username,
.password {
    display: block;
    width: 300px;
    margin: 20px auto;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: auto;
}

.button-container button {
    margin: 3px;
}

/* CSV upload card */
.csv-card { width: 350px; margin: 48px 0; }
.csv-card__primary { padding: 1rem; }
.csv-card__secondary { padding: 0 1rem 8px; }
.csv-card__title { margin: 0; }
.csv-card__subtitle { margin: 0; }

.csv-upload-media {
    background-image:url("/assets/images/upload.svg");
    background-color: #442b2d;
}
.csv-upload-input {
    position: absolute;
    left: 0;
    opacity: 0;
}