@import "common";

:root {
  --mdc-theme-primary: rgb(227, 106, 72);
  --mdc-theme-secondary: #616161;
  --mdc-theme-on-primary: #442b2d;
  --mdc-theme-on-secondary: #442b2d;
}

.header {
  text-align: center;
}

.logo {
  width: 220px;
  height: 220px;
  padding-top: 80px;
  fill: currentColor;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.drawer-main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.hidden {
  display: none;
}

/* Payments List */
.payments-list-table {
  width: 100%;
}

tr.payments-list-header {
  padding: 0 16px;
  font-weight: bold;
  width: 100%;
}

tr.payments-list-item {
  width: 100%;
  height: 0;
  padding: 16px;
  cursor: pointer;
  font-size: 0.8rem;
}

tr.payments-list-item td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr.payments-list-item td.columnA { width: 12%; }
tr.payments-list-item td.columnB { width: 31%; }
tr.payments-list-item td.columnC { width: 31%; }
tr.payments-list-item td.columnD { width: 11%; }
tr.payments-list-item td.columnE { width: 15%; }

/* CSV upload card */
.csv-card { width: 350px; margin: 0; }
.csv-card__primary { padding: 1rem; }
.csv-card__secondary { padding: 0 1rem 8px; }
.csv-card__title { margin: 0; }
.csv-card__subtitle { margin: 0; }
.csv-upload-media {
  background-image:url("/assets/images/upload.svg");
  background-color: #442b2d;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}
.csv-upload-input { position: absolute; left: 0; opacity: 0; }
.csv-is-uploading {
  background-color: #fcb8ab;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.cursor-default {
  cursor: default !important;
}

.is-vertical-centre {
  display: flex;
  align-items: center;
}