@(title: String, sections: PageSections = PageSections())(content: Html)(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/material-components-web.min.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link media="screen" href="@routes.Assets.versioned("stylesheets/normalize.min.css")"/>
        <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="icon" sizes="192x192" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>

        @if(sections.topBar) {
            <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
                <div class="mdc-top-app-bar__row">
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                        <span class="mdc-top-app-bar__title">@title</span>
                    </section>
                </div>
            </header>
        }

        @content

        <script src="@routes.Assets.versioned("javascripts/material-components-web.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <script>mdc.autoInit()</script>

        @flash.get("info").map { msg =>
            <div class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
                <div class="mdc-snackbar__text"></div>
                <div class="mdc-snackbar__action-wrapper">
                    <button type="button" class="mdc-snackbar__action-button"></button>
                </div>
            </div>
            <script>snackattack('@msg');</script>
        }

        @if(sections.loginForm) { <script>loginForm();</script> }
        @if(sections.topBar) { <script>topAppBar();</script> }
    </body>
</html>
